.icon-arrow-down {
  width: 20px;
}

#button-price-range {
  padding-top: 0;
  padding-bottom: 0;
  .Polaris-Button__Text {
    display: flex;
    align-items: center;
  }
}

.Polaris-TextField__VerticalContent {
  overflow: auto;
}
